/**
*!/usr/bin/env
* -*- coding: utf-8 -*-
* Adewale Joshua Portfolio (AJP)
*/


/**
* author: OTechCup
* copyright: &copy; 2022 - new Date().getFullYear() All Rights Reserved | Exfac
* credits: ["Mr. O"]
* version: v0.1.0
* maintainer: OTechCup
* email: support@exfac.info
*/


/* import modules */


.preloader {
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    z-index: 9999999;
    overflow: auto;
}

.preloader .terminal-shell-prompt {
    color: #0F0;
    font-size: 0.8em;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px;
    padding-left: 20px;
    font-weight: 600;
    margin-top: revert;
    white-space: unset;
    text-shadow: 0px 0px 10px #0F0;
    padding-right: 20px;
}

.preloader .terminal-shell-prompt::after {
    content: "_";
}

.preloader .terminal-msg {
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    background: #ff0000;
    box-shadow: 0 0 30px #ff0000;
    text-shadow: 0 0 20px #ffffff;
    color: #ffffff;
    position: fixed;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border-radius: 40px 0px;
}
