/**
*!/usr/bin/env
* -*- coding: utf-8 -*-
* Adewale Joshua Portfolio (AJP)
*/


/**
* author: OTechCup
* copyright: &copy; 2022 - new Date().getFullYear() All Rights Reserved | Exfac
* credits: ["Mr. O"]
* version: v0.1.0
* maintainer: OTechCup
* email: support@exfac.info
*/


/* import modules */


@media (max-width: 992px) {
    #header h1 {
        font-size: 36px !important;
    }

    #header h2 {
        font-size: 20px !important;
        line-height: 30px !important;
    }

    #header .social-links {
        margin-top: 15px !important;
    }

    #header .container {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .credits {
        text-align: center !important;
        padding: 10px !important;
        background: #000000c2;
        width: 250px;
        left: 0 !important;
    }

    .portfolio-details .portfolio-info {
        padding-top: 20px;
    }
}
