/**
*!/usr/bin/env
* -*- coding: utf-8 -*-
* Adewale Joshua Portfolio (AJP) App
*/


/**
* author: OTechCup
* copyright: Copyright 2022 - new Date().getFullYear(), Exfac Inc.
* credits: ["Mr. O"]
* version: process.env.AJP_VERSION
* maintainer: OTechCup
* email: support@exfac.info
* status: process.env.AJP_ENVIRONMENT_STATUS
*/


/* import modules */


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
}

#header * {
    transition: ease-in-out 0.3s;
}

#header h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;;
}

#header h1 a,
#header h1 a:hover {
    color: #fff;
    line-height: 1;
    display: inline-block;
}

#header h2 {
    font-size: 24px;
    margin-top: 55px;
    color: #ffffffe0;
}

#header h2 span {
    color: #00FF00;
    border-bottom: 2px solid #00FF00;
    padding-bottom: 6px;
    font-weight: 600;
}

#header h2 span:hover {
    color: #fff;
}

#header h2 .cd-headline {
    font-size: 33px;
}

#header h2 .cd-headline .cd-words-wrapper {
    width: unset !important;
}

#header img {
    padding: 0;
    margin: 0;
}

#header .social-links {
    margin-top: 50px;
    display: flex;
}

#header .social-links a {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff1a;
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#header .social-links a:hover {
    background: #00FF00;
    color: #000000;
    width: 60px;
    height: 60px;
    font-size: 25px;
}

#header .social-links .github, 
#header .social-links .linkedin {
    font-size: 25px;
    background: #00FF00;
    color: #000000;
    width: 60px;
    height: 60px;
}

#header .social-links .github:hover,
#header .social-links .linkedin:hover {
    background: #ffffff1a;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

/* Header Top */
#header.header-top {
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: #000000e6;
}

#header.header-top .social-links,
#header.header-top h2 {
    display: none;
}

#header.header-top h1 {
    margin-right: auto;
    font-size: 36px;
}

#header.header-top .container {
    display: flex;
    align-items: center;
}

#header.header-top .navbar {
    margin: 0;
}

#header #adewale {
    background-image:
        linear-gradient(
            to right, 
            #f00, #ffa500, #ffff00, #00FF00, #0000ff, #4b0082, #ee82ee, #f00
        );
    outline: #fff;
    outline-style: dashed;
    padding: 10px;
    margin-right: 5px;
    border-radius: 40px 0px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
    margin-top: 45px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar li+li {
    margin-left: 30px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #ffffffb3;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #00FF00;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #000000;
    background-color: #00FF00;
    padding: 5px;
    border-radius: 15px 0px;
}


/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 15px;
    top: 31px;
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000000e6;
    transition: 0.3s;
    z-index: 999;
    margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block !important;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 45px;
    left: 15px;
    padding: 10px 0;
    overflow-y: auto;
    transition: 0.3s;
    border: 2px solid #ffffff33;
}

.navbar-mobile li {
    padding: 12px 20px;
}

.navbar-mobile li+li {
    margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    font-size: 16px;
    position: relative;
}
